<style>
  .f-info-socials a {
    text-align: center;
    opacity: 0.7;
    color: black;
  }

  .f-info-socials a:hover {
    opacity: 1;
    cursor: pointer;
  }
</style>
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a href="https://www.instagram.com/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/dhvanit-dodiya-998844233"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://twitter.com/?lang=en"
        ><i class="fa-brands fa-square-x-twitter"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/listings/privacy">Privacy</a>
      <a href="/listings/terms">Terms</a>
    </div>
  </div>
</footer>
