<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br />
    <h3>Create a New Listing</h3>
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label" required>Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <select
          name="listing[category]"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option selected disabled>Select the Category of your listing</option>
          <option value="rooms">Rooms</option>
          <option value="cities">Iconic Cities</option>
          <option value="mountains">Mountains</option>
          <option value="beaches">Beaches</option>
          <option value="pools">Amazing Pools</option>
          <option value="camping">Camping</option>
          <option value="farms">Farm House</option>
          <option value="arctic">Arctic</option>
          <option value="houseboats">Houseboats</option>
        </select>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br /><br />
    </form>
  </div>
</div>
