<% layout("/layouts/boilerplate") %>
<h3>Rooms</h3>

<!-- This check should ensure the collection is defined -->
<% if (Array.isArray(allListings)) { %>
<!-- Iterate over the collection of listings -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for (let listing of allListings) { %>
  <!-- Only show listings with category "mountains" -->
  <% if (listing.category === "rooms") { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b>
          <br />
          &#x20B9; <%= listing.price.toLocaleString("en-IN") %> / night
          <i class="tax-info">&nbsp;&nbsp;+ 18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
  <!-- End of if check for category -->
  <% } %>
  <!-- End of loop -->
</div>
<% } else { %>
<!-- Handle case when allListings is undefined or not an array -->
<p>No listings available.</p>
<% } %>
